<a href="https://colab.research.google.com/github/Asmaasa3d/Pyspark/blob/main/AsmaaSaeed_GraphFrams_P_S__Student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The following section is for Colab Users.
### Just run the following code cells

In [ ]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://bitbucket.org/habedi/datasets/raw/b6769c4664e7ff68b001e2f43bc517888cbe3642/spark/spark-3.0.2-bin-hadoop2.7.tgz
!tar xf spark-3.0.2-bin-hadoop2.7.tgz
!rm -rf spark-3.0.2-bin-hadoop2.7.tgz*
!pip -q install findspark pyspark graphframes

     |████████████████████████████████| 281.3 MB 43 kB/s
     |████████████████████████████████| 199 kB 56.9 MB/s
     |████████████████████████████████| 154 kB 42.7 MB/s
  Building wheel for pyspark (setup.py) ... done

In [ ]:
!wget https://repos.spark-packages.org/graphframes/graphframes/0.8.2-spark3.0-s_2.12/graphframes-0.8.2-spark3.0-s_2.12.jar -P /content/spark-3.0.2-bin-hadoop2.7/jars/
!cp /content/spark-3.0.2-bin-hadoop2.7/jars/graphframes-0.8.2-spark3.0-s_2.12.jar /content/spark-3.0.2-bin-hadoop2.7/graphframes-0.8.2-spark3.0-s_2.12.zip

--2022-07-14 17:19:49--  https://repos.spark-packages.org/graphframes/graphframes/0.8.2-spark3.0-s_2.12/graphframes-0.8.2-spark3.0-s_2.12.jar
Resolving repos.spark-packages.org (repos.spark-packages.org)... 13.226.253.60, 13.226.253.18, 13.226.253.43, ...
Connecting to repos.spark-packages.org (repos.spark-packages.org)|13.226.253.60|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 247882 (242K) [binary/octet-stream]
Saving to: ‘/content/spark-3.0.2-bin-hadoop2.7/jars/graphframes-0.8.2-spark3.0-s_2.12.jar’

graphframes-0.8.2-s 100%[===================>] 242.07K  --.-KB/s    in 0.02s

2022-07-14 17:19:49 (9.63 MB/s) - ‘/content/spark-3.0.2-bin-hadoop2.7/jars/graphframes-0.8.2-spark3.0-s_2.12.jar’ saved [247882/247882]

In [ ]:
import os

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.2-bin-hadoop2.7"
os.environ["HADOOP_HOME"] = os.environ["SPARK_HOME"]

os.environ["PYSPARK_DRIVER_PYTHON"] = "jupyter"
os.environ["PYSPARK_DRIVER_PYTHON_OPTS"] = "notebook"
os.environ["PYSPARK_SUBMIT_ARGS"] = "--master local[*] pyspark-shell"

In [ ]:
import findspark
findspark.init()

In [ ]:
!export PYSPARK_SUBMIT_ARGS="--master local[*] pyspark-shell"
!export PYSPARK_DRIVER_PYTHON=jupyter
!export PYSPARK_DRIVER_PYTHON_OPTS=notebook

In [ ]:
from pyspark.sql import SparkSession
from graphframes import *

spark = SparkSession.builder.master("local[*]").appName("GraphFrames").getOrCreate()

In [ ]:
os.environ["PYSPARK_SUBMIT_ARGS"] = "--packages graphframes:graphframes:0.8.1-spark3.0-s_2.12 pyspark-shell"

**************************************************************************
**************************************************************************
**************************************************************************

In [ ]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

### Read departuredelays.csv in Edge DataFrame
### Read airport-codes-na.txt in Vertix DataFrame (the separator is Tab i.e sep = '\t' )

In [ ]:

Edge=spark.read.csv('/content/departuredelays.csv',header=True)
Vertix=spark.read.csv('/content/airport-codes-na.txt', sep="\t",header=True)

In [ ]:
Edge.show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [ ]:
Vertix.show()

+-----------+-----+-------+----+
|       City|State|Country|IATA|
+-----------+-----+-------+----+
| Abbotsford|   BC| Canada| YXX|
|   Aberdeen|   SD|    USA| ABR|
|    Abilene|   TX|    USA| ABI|
|      Akron|   OH|    USA| CAK|
|    Alamosa|   CO|    USA| ALS|
|     Albany|   GA|    USA| ABY|
|     Albany|   NY|    USA| ALB|
|Albuquerque|   NM|    USA| ABQ|
| Alexandria|   LA|    USA| AEX|
|  Allentown|   PA|    USA| ABE|
|   Alliance|   NE|    USA| AIA|
|     Alpena|   MI|    USA| APN|
|    Altoona|   PA|    USA| AOO|
|   Amarillo|   TX|    USA| AMA|
|Anahim Lake|   BC| Canada| YAA|
|  Anchorage|   AK|    USA| ANC|
|   Appleton|   WI|    USA| ATW|
|     Arviat|  NWT| Canada| YEK|
|  Asheville|   NC|    USA| AVL|
|      Aspen|   CO|    USA| ASE|
+-----------+-----+-------+----+
only showing top 20 rows

#### The US flight delays data set has five columns:
- The <b>date</b> column contains an integer like 02190925 . When converted, this maps to 02-19 09:25 am.
- The <b>delay</b> column gives the delay in minutes between the scheduled and actual departure times. Early departures show negative numbers.
- The <b>distance</b> column gives the distance in miles from the origin airport to the destination airport.
- The <b>origin</b> column contains the origin IATA airport code.
- The <b>destination</b> column contains the destination IATA airport code.

#### The airport-codes data set has four columns:
- The <b>IATA</b> column contains IATA airport code.
- The <b>City, State, and Country</b> columns contains information about the airport location.

### In the vertix DataFrame, drop any duplicated rows with the same  IATA code.

In [ ]:
Vertix2=Vertix.dropDuplicates(['IATA'])

### In the edges DataFrame:
- Rename the <b>date</b> columns to become <b>tripid</b>.
- Rename the <b>origin</b> columns to become <b>src</b>.
- Rename the <b>destination</b> columns to become <b>dst</b>.

In [ ]:
Edge2=Edge.withColumnRenamed('date','tripid').withColumnRenamed('origin','src').withColumnRenamed('destination','dst')

In [ ]:
Edge2.show()

+--------+-----+--------+---+---+
|  tripid|delay|distance|src|dst|
+--------+-----+--------+---+---+
|01011245|    6|     602|ABE|ATL|
|01020600|   -8|     369|ABE|DTW|
|01021245|   -2|     602|ABE|ATL|
|01020605|   -4|     602|ABE|ATL|
|01031245|   -4|     602|ABE|ATL|
|01030605|    0|     602|ABE|ATL|
|01041243|   10|     602|ABE|ATL|
|01040605|   28|     602|ABE|ATL|
|01051245|   88|     602|ABE|ATL|
|01050605|    9|     602|ABE|ATL|
|01061215|   -6|     602|ABE|ATL|
|01061725|   69|     602|ABE|ATL|
|01061230|    0|     369|ABE|DTW|
|01060625|   -3|     602|ABE|ATL|
|01070600|    0|     369|ABE|DTW|
|01071725|    0|     602|ABE|ATL|
|01071230|    0|     369|ABE|DTW|
|01070625|    0|     602|ABE|ATL|
|01071219|    0|     569|ABE|ORD|
|01080600|    0|     369|ABE|DTW|
+--------+-----+--------+---+---+
only showing top 20 rows

### In the Vertix DataFrame:
- Rename the <b>IATA</b> columns to become <b>id</b>.

In [ ]:
Vertix2=Vertix2.withColumnRenamed("IATA",'id')

In [ ]:
Vertix2.show()

+-------------------+-----+-------+---+
|               City|State|Country| id|
+-------------------+-----+-------+---+
|         Binghamton|   NY|    USA|BGM|
|            Lebanon|   NH|    USA|LEB|
|           Montreal|   PQ| Canada|YUL|
|         Dillingham|   AK|    USA|DLG|
|International Falls|   MN|    USA|INL|
|         Wolf Point|   MT|    USA|OLF|
|        New Orleans|   LA|    USA|MSY|
|            Toronto|   ON| Canada|YTO|
|            Spokane|   WA|    USA|GEG|
|              Havre|   MT|    USA|HVR|
|            Burbank|   CA|    USA|BUR|
|      Orange County|   CA|    USA|SNA|
|             Dryden|   ON| Canada|YHD|
|         Fort Dodge|   IA|    USA|FOD|
|          Green Bay|   WI|    USA|GRB|
|        Great Falls|   MT|    USA|GTF|
|              Homer|   AK|    USA|HOM|
|        Idaho Falls|   ID|    USA|IDA|
|      Sioux Lookout|   ON| Canada|YXL|
|       Grand Rapids|   MI|    USA|GRR|
+-------------------+-----+-------+---+
only showing top 20 rows

### Create GraphFrame from Vertix and Edges DataFrames

In [ ]:
from graphframes import *
graph=GraphFrame(Vertix2,Edge2)

### Determine the number of airports

In [ ]:
graph.vertices.count()

524

### Determine the number of trips

In [ ]:
graph.edges.count()

393548

### What is the longest delay?

In [ ]:
Edge.describe()

DataFrame[summary: string, date: string, delay: string, distance: string, origin: string, destination: string]

In [ ]:
from pyspark.sql.types import IntegerType
data_df = graph.edges.withColumn("delay", graph.edges["delay"].cast(IntegerType()))

In [ ]:
data_df.groupBy().max('delay').show()

+----------+
|max(delay)|
+----------+
|      1560|
+----------+

### Find out the number of delayed flights vs. early flights (flights that departed before actual time)

In [ ]:
data_df.filter('delay>0').count()

178976

In [ ]:
data_df.filter('delay<0').count()

168962

### What flight destinations departing SFO are most likely to have significant delays? Select the top 10
#### Hint: you should get the average delay for each destination for trips that depart from SFO only

In [ ]:
data_df = graph.edges.withColumn("delay", graph.edges["delay"].cast(IntegerType()))
data_df.filter('src="SFO"').groupBy('dst').avg('delay').orderBy('avg(delay)',ascending=False).limit(10).show()

+---+----------+
|dst|avg(delay)|
+---+----------+
+---+----------+

In [ ]:
## destination from sfo
## avg delay
## top 10
data_df = graph.edges.withColumn("delay", graph.edges["delay"].cast(IntegerType()))
data_df.filter('dst="SFO"').groupBy('src').avg('delay').orderBy('avg(delay)',ascending=False).limit(10).show()

+---+------------------+
|src|        avg(delay)|
+---+------------------+
|MDW| 39.16393442622951|
|MKE| 34.57142857142857|
|PIT|28.466666666666665|
|ORD|27.656996587030715|
|JAC|23.555555555555557|
|CVG|23.333333333333332|
|MCO| 22.61904761904762|
|DEN|22.470238095238095|
|KOA| 21.79032258064516|
|EWR| 21.66497461928934|
+---+------------------+

### Find the Incoming connections to the airport sorted in Desc. order.

In [ ]:
graph.inDegrees.orderBy('inDegree',ascending=False).show()

+---+--------+
| id|inDegree|
+---+--------+
|ATL|   15796|
|DFW|   11805|
|ORD|   11505|
|LAX|    8092|
|DEN|    8045|
|IAH|    7551|
|SFO|    7116|
|PHX|    6505|
|MCO|    5905|
|MIA|    5048|
|LAS|    5026|
|CLT|    4997|
|LGA|    4853|
|EWR|    4853|
|SLC|    4470|
|BOS|    4424|
|FLL|    4225|
|BWI|    4103|
|SEA|    3865|
|JFK|    3860|
+---+--------+
only showing top 20 rows

### Find the Outgoing connections from the airport sorted in Desc. order.

In [ ]:
graph.outDegrees.orderBy('outDegree',ascending=False).show()

+---+---------+
| id|outDegree|
+---+---------+
|ATL|    30796|
|DFW|    23488|
|ORD|    21497|
|LAX|    18481|
|DEN|    17977|
|IAH|    14581|
|PHX|    13343|
|LAS|    11050|
|CLT|     9768|
|EWR|     9267|
|MCO|     9206|
|LGA|     8530|
|BOS|     8274|
|MSP|     8085|
|JFK|     7878|
|DTW|     7542|
|MIA|     7436|
|BWI|     7177|
|MDW|     6584|
|PHL|     6022|
+---+---------+
only showing top 20 rows

### Use motif finding to answer this question: which delays could we blame on SFO?
#### Hint: this practically means that SFO is a transit station

### Determine Airport Ranking in Desc. order using PageRank algorithm

In [ ]:
g2 = graph.pageRank(maxIter=2)

In [ ]:
g2.vertices.orderBy('pagerank',ascending=False).show()

+--------------+-----+-------+---+------------------+
|          City|State|Country| id|          pagerank|
+--------------+-----+-------+---+------------------+
|       Atlanta|   GA|    USA|ATL| 19.71577821415476|
|        Dallas|   TX|    USA|DFW|14.356760871441308|
|       Chicago|   IL|    USA|ORD|14.073591932462298|
|        Denver|   CO|    USA|DEN|10.968597859027877|
|   Los Angeles|   CA|    USA|LAX| 9.723007597707323|
|       Houston|   TX|    USA|IAH|  9.04778644837982|
| San Francisco|   CA|    USA|SFO| 8.858875455445812|
|       Seattle|   WA|    USA|SEA| 8.015094796164892|
|       Phoenix|   AZ|    USA|PHX|  7.67507816265702|
|      New York|   NY|    USA|LGA| 7.249373803354643|
|Salt Lake City|   UT|    USA|SLC| 7.137404735654444|
|     Charlotte|   NC|    USA|CLT| 6.807949878001013|
|       Orlando|   FL|    USA|MCO| 6.506107279792788|
|   Minneapolis|   MN|    USA|MSP| 6.339419482786053|
|     Las Vegas|   NV|    USA|LAS| 6.145145028576017|
|       Detroit|   MI|    USA|DTW| 5.914947879687934|
|        Newark|   NJ|    USA|EWR| 5.895009210270176|
|        Boston|   MA|    USA|BOS| 5.665598847228809|
|         Miami|   FL|    USA|MIA| 5.420629394817934|
|     Baltimore|   MD|    USA|BWI| 4.834697063904553|
+--------------+-----+-------+---+------------------+
only showing top 20 rows

## Determine the most popular flights (single city hops)

In [ ]:
graph.edges.groupBy('src','dst').count().show()

+---+---+-----+
|src|dst|count|
+---+---+-----+
|ATL|GSP|  180|
|BQN|MCO|   31|
|CLE|SJU|    5|
|DSM|EWR|   23|
|EWR|STT|   32|
|FSD|ATL|   30|
|LAS|LIT|   31|
|LBB|DEN|   63|
|MCI|IAH|  212|
|MCI|MKE|   55|
|MDW|MEM|   62|
|ORD|PDX|  195|
|PBI|DCA|   48|
|PHL|MCO|  397|
|ROC|CLE|   16|
|AUS|ELP|   62|
|BMI|MCO|    9|
|CAE|ATL|  233|
|CLE|MCI|   52|
|CPR|DEN|  117|
+---+---+-----+
only showing top 20 rows

### Find and Save a Subragph that obtained from the following pattern:
#### The flight starts from an airport and return back to the same airport through 2 other airports.

In [ ]:
g2=graph.find('(v1)-[e1]->(v2);(v2)-[e2]->(v3);(v3)-[e3]->(v1)')
g2.show()

In [ ]:
g2.select('v1.id','v2.id','v3.id').count()