<a href="https://colab.research.google.com/github/Asmaasa3d/Pyspark/blob/main/Asmaa_Saeed_Session_2_H_W.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Task 1 - SQL

### Build SparkSession:

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 59.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=9ee1f0cc858fd4fef07a0f7b25b9685fe94c9de79658ef0f21f6361dea445f5e
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

### Read the json file:

In [ ]:
df_json = spark.read.format("json").load('/content/DataFrames_sample.json')

### Display the schema:

In [ ]:
df_json.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [ ]:
df_json.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

In [ ]:
df_json.createOrReplaceTempView("df_view")

In [ ]:
spark.sql("""SELECT *
            FROM df_view
            WHERE Model ='MacBook Pro'
          """).show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create Table:

In [ ]:
spark.sql("""
CREATE TABLE IF NOT EXISTS df_table AS 
SELECT * FROM df_view """)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 22))

AnalysisException: ignored

### Display "RAM"column and count "RAM" column:

In [ ]:
df_json.select('RAM').show()

+----+
| RAM|
+----+
|16GB|
| 8GB|
| 8GB|
|64GB|
+----+

In [ ]:
spark.sql(""" select count(RAM) from df_view
""").show()

+----------+
|count(RAM)|
+----------+
|         4|
+----------+

### Get all columns when "Year" column equal "2015"

In [ ]:
spark.sql(""" select * from df_view where  Year=2015
""").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [ ]:
spark.sql(""" select * from df_view where  Model like 'M%'
""").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [ ]:
spark.sql(""" select * from df_view where  Model='MacBook Pro'
""").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [ ]:
spark.sql(""" select * from df_view where  Model='MacBook Pro' and RAM='8GB'
""").show()

+---+---+---+---+-----+---+----------+---+------+----+
|  D|  H|HDD| Id|Model|RAM|ScreenSize|  W|Weight|Year|
+---+---+---+---+-----+---+----------+---+------+----+
+---+---+---+---+-----+---+----------+---+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [ ]:
spark.sql(""" select * from df_view where  D>=8  and Model='iMac'
""").show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [ ]:
df_csv = spark.read.format("csv").load('/content/test1.csv',header=True)

In [ ]:
df_csv.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [ ]:
df_csv.createOrReplaceTempView("csv_view")

### Display Salary of the people less than or equal to 20000

In [ ]:
spark.sql(""" select Salary from csv_view  where  Salary<=20000
""").show()

+------+
|Salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [ ]:
spark.sql(""" select Salary from csv_view  where  Salary<=20000 and  Salary>=15000
""").show()

+------+
|Salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

## Task 3

### Read "test3" dataset:

In [ ]:
df_csv_3= spark.read.format("csv").load('/content/test3.csv',header=True)

### Display dataset

In [ ]:
df_csv_3.createOrReplaceTempView("df3_view")

In [ ]:
spark.sql(""" select * from df3_view 
""").show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [ ]:
df_csv_3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: string (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [ ]:
df_csv_3.groupBy(df_csv_3['Name']).sum().show()

+---------+
|     Name|
+---------+
|Sudhanshu|
|    Sunny|
|    Krish|
|   Mahesh|
+---------+

### Group by "Name" column and using avg function on "Name" column

In [ ]:
df_csv_3.groupBy(df_csv_3['Name']).count()

DataFrame[Name: string, count: bigint]

### Group by "Departments" column and using sum function on "Departments" column

### Group by "Departments" column and using mean function on "Departments" column:

Group by "Departments" column and using count function on "Departments" column:

### Apply agg to using sum function get the total of salaries

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [ ]:
data=spark.read.csv('/content/ITI_data.csv' ,inferSchema=True,header=True)

In [ ]:
data.show(5)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 5 rows

In [ ]:
data.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

### OneHotEncoder

In [ ]:
from pyspark.ml.feature import VectorAssembler,OneHotEncoder

In [ ]:
# from pyspark.ml.classification import 
onehot = OneHotEncoder(
    inputCols=['org_idx' , 'dow' ],
    outputCols=['org_dummy' , 'dow_dummy']
)

###Use VectorAssembler to merge all columns into one column:

In [ ]:
assembler = VectorAssembler(inputCols=['km','org_dummy' , 'dow_dummy'], outputCol='features')

### Create a Linear Regression Model

In [ ]:
regression = LinearRegression(labelCol='duration')

### Creating a Pipeline

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566