<a href="https://colab.research.google.com/github/Asmaasa3d/Pyspark/blob/main/AsmaaSaeedStreaming_P_S__Student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

### Create the schema of the streamed files (check the column names and types from the CSV files)

In [ ]:

from pyspark.sql.types import  StructType,StructField,DateType,FloatType,DoubleType,StringType



recordSchema = StructType([StructField('ID', StringType(), True),
                           StructField('Date', StringType(), True),
                           StructField('Open', DoubleType(), True),
                           StructField('High', DoubleType(), True),
                           StructField('Low', DoubleType(), True),
                           StructField('Close', DoubleType(), True),
                           StructField('Adj Close', DoubleType(), True),
                           StructField('Volume', DoubleType(), True),
                           ])

### Create the dataframe by reading the stream using format "csv" and the schema you created.

In [ ]:
df = spark.readStream.format('csv').schema(recordSchema).option("dateFormat", "m/d/YYYY").load('/content/InStream/')

In [ ]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- Volume: double (nullable = true)

### Make sure the sataframe is streaming the files from the folder

In [ ]:
df.isStreaming

True

### Create a stream writer into memory and specify the query name "stock:

In [ ]:
writer=df.writeStream.outputMode('append').format('memory').queryName('stock')\
 .option("truncate", False) \
    .option("numRows", 100) \
.option("checkpointLocation", "oo")

### Start the write stream and make sure it works (read all columns from the table)

In [ ]:
query= writer.start()

In [ ]:
spark.sql('SELECT * FROM stock').show()

+----+----+----+---+-----+---------+------+
|Date|Open|High|Low|Close|Adj Close|Volume|
+----+----+----+---+-----+---------+------+
+----+----+----+---+-----+---------+------+

In [ ]:
spark.sql('SELECT * FROM stock').show()

+----+----------+------------+------------+------------+------------+------------+--------+
|  ID|      Date|        Open|        High|         Low|       Close|   Adj Close|  Volume|
+----+----------+------------+------------+------------+------------+------------+--------+
|null|      Date|        null|        null|        null|        null|        null|    null|
| 240|2000-12-05|26585.300781|27367.300781|26372.099609|27011.800781|25526.091797| 91019.0|
| 241|2000-12-06|27011.800781|27509.400391|26798.599609|26869.699219|25391.804688|105791.0|
| 242|2000-12-07|27011.800781|27011.800781|26478.699219|26656.400391|25190.236328| 40656.0|
| 243|2000-12-08|26656.400391|27722.699219|26656.400391|27651.599609|26130.699219|149964.0|
| 244|2000-12-11|27687.099609|     28860.0|27651.599609|28078.099609|26533.740234|159671.0|
| 245|2000-12-12|28042.599609|28078.099609|27438.300781|27935.900391|26399.361328| 74560.0|
| 246|2000-12-13|27651.599609|     29286.5|27651.599609|28469.099609|26903.234375|270385.0|
| 247|2000-12-14|28469.099609|29784.099609|28291.300781|28362.400391| 26802.40625|256317.0|
| 248|2000-12-15|28362.400391|28895.599609|27793.800781|27935.900391|26399.361328|108886.0|
| 249|2000-12-18|     27580.5|     28433.5|27367.300781|28291.300781|26735.216797| 92848.0|
| 250|2000-12-19|27722.699219|28788.900391|27651.599609|27651.599609|26130.699219|115779.0|
| 251|2000-12-20|27402.800781|27793.800781|     27154.0|27722.699219|26197.890625| 99601.0|
| 252|2000-12-21|27367.300781|27793.800781|27082.900391|27722.699219|26197.890625|129706.0|
| 253|2000-12-22|27687.099609|     28007.0|27509.400391|     28007.0|26466.550781| 77233.0|
| 254|2000-12-26|     27971.5|31987.699219|27473.900391|     28433.5|26869.591797|131535.0|
| 255|2001-01-02|27367.300781|27367.300781|25945.599609|26656.400391|25190.236328| 64150.0|
| 256|2001-01-03|26585.300781|26656.400391|26016.699219|26656.400391|25190.236328| 37421.0|
| 257|2001-01-04|27367.300781|28078.099609|26905.199219|27082.900391|25593.277344|131254.0|
| 258|2001-01-05|26940.800781|26940.800781|26194.400391|26585.300781|25123.048828| 90316.0|
+----+----------+------------+------------+------------+------------+------------+--------+
only showing top 20 rows

In [ ]:
spark.sql('SELECT count(*)FROM stock').show()

+--------+
|count(1)|
+--------+
|       0|
+--------+

In [ ]:
query.stop()

### Remove the first row from the data (hint: drop the rows where ALL values are null), then add a new column "diff", which is the difference between high and low columns

In [ ]:
# df3=df.dropna(how='all')
from pyspark.sql.functions import col
df3 = df.where(col("ID").isNotNull())
df3=df3.withColumn('diff',df['High']-df['Low'])

### Create a new write stream using the new generated dataframe and call the generate table "modified_data"

In [ ]:
writer2 = df3.writeStream.outputMode("append") \
    .queryName('modified_data')\
    .format("memory") \
    .option("truncate", False) \
    .option("numRows", 20)

In [ ]:
q=writer2.start()

In [ ]:
spark.sql('SELECT * FROM modified_data').show()

+---+----------+------------+------------+------------+------------+------------+--------+------------------+
| ID|      Date|        Open|        High|         Low|       Close|   Adj Close|  Volume|              diff|
+---+----------+------------+------------+------------+------------+------------+--------+------------------+
|240|2000-12-05|26585.300781|27367.300781|26372.099609|27011.800781|25526.091797| 91019.0|  995.201172000001|
|241|2000-12-06|27011.800781|27509.400391|26798.599609|26869.699219|25391.804688|105791.0| 710.8007819999984|
|242|2000-12-07|27011.800781|27011.800781|26478.699219|26656.400391|25190.236328| 40656.0| 533.1015620000035|
|243|2000-12-08|26656.400391|27722.699219|26656.400391|27651.599609|26130.699219|149964.0| 1066.298827999999|
|244|2000-12-11|27687.099609|     28860.0|27651.599609|28078.099609|26533.740234|159671.0|1208.4003909999992|
|245|2000-12-12|28042.599609|28078.099609|27438.300781|27935.900391|26399.361328| 74560.0|  639.798827999999|
|246|2000-12-13|27651.599609|     29286.5|27651.599609|28469.099609|26903.234375|270385.0|1634.9003909999992|
|247|2000-12-14|28469.099609|29784.099609|28291.300781|28362.400391| 26802.40625|256317.0| 1492.798827999999|
|248|2000-12-15|28362.400391|28895.599609|27793.800781|27935.900391|26399.361328|108886.0| 1101.798827999999|
|249|2000-12-18|     27580.5|     28433.5|27367.300781|28291.300781|26735.216797| 92848.0|1066.1992189999983|
|250|2000-12-19|27722.699219|28788.900391|27651.599609|27651.599609|26130.699219|115779.0|1137.3007819999984|
|251|2000-12-20|27402.800781|27793.800781|     27154.0|27722.699219|26197.890625| 99601.0| 639.8007810000017|
|252|2000-12-21|27367.300781|27793.800781|27082.900391|27722.699219|26197.890625|129706.0| 710.9003900000025|
|253|2000-12-22|27687.099609|     28007.0|27509.400391|     28007.0|26466.550781| 77233.0| 497.5996090000008|
|254|2000-12-26|     27971.5|31987.699219|27473.900391|     28433.5|26869.591797|131535.0| 4513.798827999999|
|255|2001-01-02|27367.300781|27367.300781|25945.599609|26656.400391|25190.236328| 64150.0| 1421.701172000001|
|256|2001-01-03|26585.300781|26656.400391|26016.699219|26656.400391|25190.236328| 37421.0|  639.701172000001|
|257|2001-01-04|27367.300781|28078.099609|26905.199219|27082.900391|25593.277344|131254.0|1172.9003900000025|
|258|2001-01-05|26940.800781|26940.800781|26194.400391|26585.300781|25123.048828| 90316.0| 746.4003900000025|
|259|2001-01-08|26514.199219|27011.800781|26052.199219|26052.199219|24619.269531|102414.0| 959.6015620000035|
+---+----------+------------+------------+------------+------------+------------+--------+------------------+
only showing top 20 rows

In [ ]:
q.stop()

### Write the generated data into files instead of the memory.

In [ ]:
w = df3.writeStream.format('parquet')\
.outputMode('append')\
.option('path','OutStream5/')\
.option("checkpointLocation", "chkpnt23")

In [ ]:
q2=w.start()

In [ ]:
q2.stop()

In [ ]:
df5 = spark.readStream.format('csv').schema(recordSchema).option("dateFormat", "m/d/YYYY").load('/content/OutStream2/')

In [ ]:
pla=df.writeStream.outputMode('append').format('memory').queryName('pla')\
 .option("truncate", False) \
    .option("numRows", 100) \
.option("checkpointLocation", "pp")

In [ ]:
qq=pla.start()

In [ ]:
spark.sql('SELECT * FROM pla').show() ## why this Date word? && why to show only 20 rows even if set to show 100

+----+----------+------------+------------+------------+------------+------------+--------+
|  ID|      Date|        Open|        High|         Low|       Close|   Adj Close|  Volume|
+----+----------+------------+------------+------------+------------+------------+--------+
|null|      Date|        null|        null|        null|        null|        null|    null|
| 240|2000-12-05|26585.300781|27367.300781|26372.099609|27011.800781|25526.091797| 91019.0|
| 241|2000-12-06|27011.800781|27509.400391|26798.599609|26869.699219|25391.804688|105791.0|
| 242|2000-12-07|27011.800781|27011.800781|26478.699219|26656.400391|25190.236328| 40656.0|
| 243|2000-12-08|26656.400391|27722.699219|26656.400391|27651.599609|26130.699219|149964.0|
| 244|2000-12-11|27687.099609|     28860.0|27651.599609|28078.099609|26533.740234|159671.0|
| 245|2000-12-12|28042.599609|28078.099609|27438.300781|27935.900391|26399.361328| 74560.0|
| 246|2000-12-13|27651.599609|     29286.5|27651.599609|28469.099609|26903.234375|270385.0|
| 247|2000-12-14|28469.099609|29784.099609|28291.300781|28362.400391| 26802.40625|256317.0|
| 248|2000-12-15|28362.400391|28895.599609|27793.800781|27935.900391|26399.361328|108886.0|
| 249|2000-12-18|     27580.5|     28433.5|27367.300781|28291.300781|26735.216797| 92848.0|
| 250|2000-12-19|27722.699219|28788.900391|27651.599609|27651.599609|26130.699219|115779.0|
| 251|2000-12-20|27402.800781|27793.800781|     27154.0|27722.699219|26197.890625| 99601.0|
| 252|2000-12-21|27367.300781|27793.800781|27082.900391|27722.699219|26197.890625|129706.0|
| 253|2000-12-22|27687.099609|     28007.0|27509.400391|     28007.0|26466.550781| 77233.0|
| 254|2000-12-26|     27971.5|31987.699219|27473.900391|     28433.5|26869.591797|131535.0|
| 255|2001-01-02|27367.300781|27367.300781|25945.599609|26656.400391|25190.236328| 64150.0|
| 256|2001-01-03|26585.300781|26656.400391|26016.699219|26656.400391|25190.236328| 37421.0|
| 257|2001-01-04|27367.300781|28078.099609|26905.199219|27082.900391|25593.277344|131254.0|
| 258|2001-01-05|26940.800781|26940.800781|26194.400391|26585.300781|25123.048828| 90316.0|
+----+----------+------------+------------+------------+------------+------------+--------+
only showing top 20 rows

In [ ]:
qq.stop()

### Stop the query. Now, try reading the generated parquet files into a normal dataframe
- Create a schema and use it to read the data.
- Show the output.

In [ ]:
finalDF=spark.read.parquet('/content/OutStream2/part-00001-2bea4382-7718-40b0-a39d-6545a3804f75-c000.snappy.parquet')

In [ ]:
finalDF.show()

+---+----------+------------+------------+------------+------------+------------+--------+------------------+
| ID|      Date|        Open|        High|         Low|       Close|   Adj Close|  Volume|              diff|
+---+----------+------------+------------+------------+------------+------------+--------+------------------+
|280|2001-02-09|27758.199219|28362.400391|27722.699219|28362.400391| 26802.40625| 34044.0|  639.701172000001|
|281|2001-02-12|28362.400391|29499.800781|28291.300781|28504.599609| 26936.78125|196107.0|            1208.5|
|282|2001-02-13|28575.699219|28575.699219|27829.300781|     28007.0|26466.550781| 45017.0| 746.3984379999965|
|283|2001-02-14|27722.699219|28149.199219|27509.400391|28078.099609|26533.740234| 51489.0|  639.798827999999|
|284|2001-02-15|27864.800781|28078.099609|27509.400391|27864.800781|26332.175781| 57678.0| 568.6992180000016|
|285|2001-02-16|27367.300781|27722.699219|27367.300781|27651.599609|26130.699219| 46705.0|355.39843799999653|
|286|2001-02-19|27296.199219|     28007.0|27082.900391|27864.800781|26332.175781| 85111.0| 924.0996090000008|
|287|2001-02-20|     27580.5|     28398.0|     27580.5|27864.800781|26332.175781| 95521.0|             817.5|
|288|2001-02-21|27864.800781|28149.199219|27722.699219|     28007.0|26466.550781| 79484.0|             426.5|
|289|2001-02-22|28078.099609|28078.099609|27296.199219|27402.800781|25895.582031| 41922.0| 781.9003900000025|
|290|2001-02-23|27509.400391|28291.300781|27331.699219|27722.699219|26197.890625| 82719.0| 959.6015620000035|
|291|2001-02-26|27722.699219|     28433.5|     27580.5|     28433.5|26869.591797| 74279.0|             853.0|
|292|2001-02-27|28575.699219|28966.599609|28149.199219|     28433.5|26869.591797|102274.0| 817.4003900000025|
|293|2001-02-28|     28433.5|28717.800781|28078.099609|28717.800781|27138.255859| 47831.0|  639.701172000001|
|294|2001-03-02|     28860.0|30423.900391|28717.800781|29144.300781|27541.296875|209330.0|1706.0996099999975|
|295|2001-03-05|29499.800781|29606.400391|28575.699219|29215.400391|27608.488281| 81313.0| 1030.701172000001|
|296|2001-03-06|29499.800781|29570.900391|28717.800781|28717.800781|27138.255859| 61617.0| 853.0996099999975|
|297|2001-03-07|28646.800781|29073.300781|28326.900391|     28433.5|26869.591797| 59929.0| 746.4003900000025|
|298|2001-03-08|     28433.5|28682.300781|28291.300781|28575.699219|27003.972656|135615.0|             391.0|
|299|2001-03-09|28717.800781|28931.099609|28291.300781|28504.599609| 26936.78125| 77233.0|  639.798827999999|
+---+----------+------------+------------+------------+------------+------------+--------+------------------+
only showing top 20 rows

### Sort the dataframe based on the ID

In [ ]:
finalDFSorted = finalDF.sort('ID')
finalDFSorted.show()

+---+----------+------------+------------+------------+------------+------------+--------+------------------+
| ID|      Date|        Open|        High|         Low|       Close|   Adj Close|  Volume|              diff|
+---+----------+------------+------------+------------+------------+------------+--------+------------------+
|  0|2000-01-04|22817.900391|25696.800781|22817.900391|24879.300781|23510.880859|108745.0|2878.9003900000025|
|  1|2000-01-05|24523.900391|26229.900391|23670.900391|24417.300781|23074.294922|175990.0|            2559.0|
| 10|2000-01-18|23457.599609|     23742.0|22746.800781|23422.099609|22133.832031| 27995.0| 995.1992189999983|
| 11|2000-01-19|22817.900391|23173.300781|     22036.0|     22036.0|20823.970703| 44173.0|1137.3007810000017|
| 12|2000-01-20|21325.099609|22000.400391|     20756.5|21680.599609|20488.117188| 47550.0|1243.9003909999992|
| 13|2000-01-21|21680.599609|22391.400391|20863.099609|21680.599609|20488.117188| 80750.0|1528.3007819999984|
| 14|2000-01-24|20969.699219|21822.699219|20969.699219|20969.699219|19816.320313| 79906.0|             853.0|
| 15|2000-01-25|20258.900391|20934.199219|     19548.0|20116.699219|19010.236328|170925.0|1386.1992189999983|
| 16|2000-01-26|20223.300781|20543.199219|19761.300781|     20330.0|19211.804688| 59929.0| 781.8984379999965|
| 17|2000-01-27|     20401.0|22746.800781|     20330.0|21040.800781|19883.511719|139132.0|2416.8007810000017|
| 18|2000-01-28|21431.800781|22107.099609|21040.800781|21964.900391|20756.783203| 78640.0| 1066.298827999999|
| 19|2000-01-31|21325.099609|21893.800781|     21183.0|21467.300781|20286.552734| 45861.0| 710.8007810000017|
|  2|2000-01-06|24381.699219|24666.099609|22746.800781|22817.900391|21562.865234| 71746.0| 1919.298827999999|
| 20|2000-02-01|22249.199219|22675.699219|21751.599609|21822.699219|20622.402344| 64009.0| 924.0996099999975|
|200|2000-10-10|29428.699219|30210.599609|28149.199219|29997.400391|28347.476563|212425.0|2061.4003900000025|
|201|2000-10-11|29499.800781|29819.599609|27011.800781|27722.699219|26197.890625|161078.0| 2807.798827999999|
|202|2000-10-12|26443.199219|27722.699219|26443.199219|26798.599609|25324.617188|143211.0|            1279.5|
|203|2000-10-13|25376.900391|25732.300781|     23315.5|24879.300781|23510.880859|177537.0|2416.8007810000017|
|204|2000-10-16|24879.300781|24879.300781|24879.300781|24879.300781|23510.880859|     0.0|               0.0|
|205|2000-10-17|26656.400391|27082.900391|24879.300781|24879.300781|23510.880859|112262.0|2203.5996099999975|
+---+----------+------------+------------+------------+------------+------------+--------+------------------+
only showing top 20 rows