<a href="https://colab.research.google.com/github/Asmaasa3d/Pyspark/blob/main/Asmaa_Saeed_Practical_Session_2_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 2 PySpark:

### Machine Learning

#### But first, let's do some SQL :)

**First, install and import PySPark and SparkSession**

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 30 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 49.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=0bccdc07b30d89ee1da454d9fd0e0de6e24331f4712842dd69982d7e7f5cec85
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
import pyspark
from pyspark.sql import SparkSession

**Now, download the dataset**

In [ ]:
!gdown https://drive.google.com/uc?id=1PB6wBDVTM_eocxOyi0lWlLBQOlH0rLe_ -O PatientInfo.csv

Downloading...
From: https://drive.google.com/uc?id=1PB6wBDVTM_eocxOyi0lWlLBQOlH0rLe_
To: /content/PatientInfo.csv
100% 489k/489k [00:00<00:00, 116MB/s]

**Create a SparkSession object and name the app "Lab2"**

In [ ]:
spark=SparkSession.builder.appName('Lab2').getOrCreate()

**1. Read the file PatientInfo.csv into a dataframe**

In [ ]:
df=spark.read.csv('/content/PatientInfo.csv',header=True,inferSchema=True)

**Show the first 5 lines of the dataframe**

In [ ]:
df.printSchema()

root
 |-- patient_id: long (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- country: string (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- infected_by: string (nullable = true)
 |-- contact_number: string (nullable = true)
 |-- symptom_onset_date: string (nullable = true)
 |-- confirmed_date: string (nullable = true)
 |-- released_date: string (nullable = true)
 |-- deceased_date: string (nullable = true)
 |-- state: string (nullable = true)

In [ ]:
df.show(5)

+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|patient_id|   sex|age|country|province|       city|      infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|1000000001|  male|50s|  Korea|   Seoul| Gangseo-gu|     overseas inflow|       null|            75|        2020-01-22|    2020-01-23|   2020-02-05|         null|released|
|1000000002|  male|30s|  Korea|   Seoul|Jungnang-gu|     overseas inflow|       null|            31|              null|    2020-01-30|   2020-03-02|         null|released|
|1000000003|  male|50s|  Korea|   Seoul|  Jongno-gu|contact with patient| 2002000001|            17|              null|    2020-01-30|   2020-02-19|         null|released|
|1000000004|  male|20s|  Korea|   Seoul|    Mapo-gu|     overseas inflow|       null|             9|        2020-01-26|    2020-01-30|   2020-02-15|         null|released|
|1000000005|female|20s|  Korea|   Seoul|Seongbuk-gu|contact with patient| 1000000002|             2|              null|    2020-01-31|   2020-02-24|         null|released|
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
only showing top 5 rows

**Now do the same but using SQL select statement**

1. Create a temporary view (table) called patients

In [ ]:
df.createOrReplaceTempView("patients")

2. Use SELECT statement to select all columns from the dataframe

In [ ]:
spark.sql("SELECT * from patients").show()

+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|patient_id|   sex|age|country|province|        city|      infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|1000000001|  male|50s|  Korea|   Seoul|  Gangseo-gu|     overseas inflow|       null|            75|        2020-01-22|    2020-01-23|   2020-02-05|         null|released|
|1000000002|  male|30s|  Korea|   Seoul| Jungnang-gu|     overseas inflow|       null|            31|              null|    2020-01-30|   2020-03-02|         null|released|
|1000000003|  male|50s|  Korea|   Seoul|   Jongno-gu|contact with patient| 2002000001|            17|              null|    2020-01-30|   2020-02-19|         null|released|
|1000000004|  male|20s|  Korea|   Seoul|     Mapo-gu|     overseas inflow|       null|             9|        2020-01-26|    2020-01-30|   2020-02-15|         null|released|
|1000000005|female|20s|  Korea|   Seoul| Seongbuk-gu|contact with patient| 1000000002|             2|              null|    2020-01-31|   2020-02-24|         null|released|
|1000000006|female|50s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|            43|              null|    2020-01-31|   2020-02-19|         null|released|
|1000000007|  male|20s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|             0|              null|    2020-01-31|   2020-02-10|         null|released|
|1000000008|  male|20s|  Korea|   Seoul|         etc|     overseas inflow|       null|             0|              null|    2020-02-02|   2020-02-24|         null|released|
|1000000009|  male|30s|  Korea|   Seoul|   Songpa-gu|     overseas inflow|       null|            68|              null|    2020-02-05|   2020-02-21|         null|released|
|1000000010|female|60s|  Korea|   Seoul| Seongbuk-gu|contact with patient| 1000000003|             6|              null|    2020-02-05|   2020-02-29|         null|released|
|1000000011|female|50s|  China|   Seoul|Seodaemun-gu|     overseas inflow|       null|            23|              null|    2020-02-06|   2020-02-29|         null|released|
|1000000012|  male|20s|  Korea|   Seoul|         etc|     overseas inflow|       null|             0|              null|    2020-02-07|   2020-02-27|         null|released|
|1000000013|  male|80s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000017|           117|              null|    2020-02-16|         null|         null|deceased|
|1000000014|female|60s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000013|            27|        2020-02-06|    2020-02-16|   2020-03-12|         null|released|
|1000000015|  male|70s|  Korea|   Seoul|Seongdong-gu|    Seongdong-gu APT|       null|             8|        2020-02-11|    2020-02-19|         null|         null|released|
|1000000016|  male|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000017|          null|              null|    2020-02-19|   2020-03-11|         null|released|
|1000000017|  male|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|          null|              null|    2020-02-20|   2020-03-01|         null|released|
|1000000018|  male|20s|  Korea|   Seoul|         etc|                 etc|       null|          null|              null|    2020-02-20|         null|         null|released|
|1000000019|female|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000021|          null|              null|    2020-02-20|   2020-03-08|         null|released|
|1000000020|female|70s|  Korea|   Seoul|Seongdong-gu|    Seongdong-gu APT| 1000000015|          null|              null|    2020-02-20|         null|         null|released|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
only showing top 20 rows

3. Limit the output to only 5 rows *using SQL commands*

In [ ]:
spark.sql("SELECT * from patients").limit(5).show()

+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|patient_id|   sex|age|country|province|       city|      infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|1000000001|  male|50s|  Korea|   Seoul| Gangseo-gu|     overseas inflow|       null|            75|        2020-01-22|    2020-01-23|   2020-02-05|         null|released|
|1000000002|  male|30s|  Korea|   Seoul|Jungnang-gu|     overseas inflow|       null|            31|              null|    2020-01-30|   2020-03-02|         null|released|
|1000000003|  male|50s|  Korea|   Seoul|  Jongno-gu|contact with patient| 2002000001|            17|              null|    2020-01-30|   2020-02-19|         null|released|
|1000000004|  male|20s|  Korea|   Seoul|    Mapo-gu|     overseas inflow|       null|             9|        2020-01-26|    2020-01-30|   2020-02-15|         null|released|
|1000000005|female|20s|  Korea|   Seoul|Seongbuk-gu|contact with patient| 1000000002|             2|              null|    2020-01-31|   2020-02-24|         null|released|
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+

4. Select the count of males and females in the dataset

In [ ]:
spark.sql("SELECT * from patients where sex='male'").count()

1825

In [ ]:
spark.sql("SELECT * from patients where sex='female'").count()

2218

5. Select the count of males and females *as percentage* (how many percent of the data are males and how many are females?)

In [ ]:
spark.sql("SELECT * from patients where sex='female'").count()/spark.sql("SELECT sex from patients ").count()

0.42942884801548886

6. How many people did survive, and how many didn't?

In [ ]:
spark.sql("SELECT * from patients where state='released'").count()

2929

In [ ]:
spark.sql("SELECT * from patients where state!='released'").count()

2236

Now, let's perform some preprocessing using SQL:

1. Convert *age* column to double after removing the 's' at the end -- *hint: check SUBSTRING method*
2. Select only the following columns: `['sex', 'age', 'province', 'state']`
3. Store the result of the query in a new dataframe

In [ ]:
from pyspark.sql.types import DoubleType,IntegerType
from pyspark.sql.functions import coalesce,udf,substring

In [ ]:
df.show(3)

+----------+----+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|patient_id| sex|age|country|province|       city|      infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|
+----------+----+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|1000000001|male|50s|  Korea|   Seoul| Gangseo-gu|     overseas inflow|       null|            75|        2020-01-22|    2020-01-23|   2020-02-05|         null|released|
|1000000002|male|30s|  Korea|   Seoul|Jungnang-gu|     overseas inflow|       null|            31|              null|    2020-01-30|   2020-03-02|         null|released|
|1000000003|male|50s|  Korea|   Seoul|  Jongno-gu|contact with patient| 2002000001|            17|              null|    2020-01-30|   2020-02-19|         null|released|
+----------+----+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
only showing top 3 rows

In [ ]:
df2=spark.sql("Select sex, province, state,int(substring(age,1,2)) as age from patients")

Now view the new dataframe to make sure everything is alright

In [ ]:
df2.show(5)

+------+--------+--------+---+
|   sex|province|   state|age|
+------+--------+--------+---+
|  male|   Seoul|released| 50|
|  male|   Seoul|released| 30|
|  male|   Seoul|released| 50|
|  male|   Seoul|released| 20|
|female|   Seoul|released| 20|
+------+--------+--------+---+
only showing top 5 rows

**Now, let's get back to spark operations**

Please copy the following operations from your solution in Lab 1
___

Add a **is_dead** column if patient state is not released then it should yield true, else then False

In [ ]:
def isdead(sts):

    if sts=='released':
      return 1
    else:
      return 0
   
fun1=udf(isdead,IntegerType())
df2=df2.withColumn('isdead',fun1('state'))

In [ ]:
df2.show(3)

+---+--------+-----+---+------+
|sex|province|state|age|isdead|
+---+--------+-----+---+------+
|sex|province|state| 50|     0|
|sex|province|state| 30|     0|
|sex|province|state| 50|     0|
+---+--------+-----+---+------+
only showing top 3 rows

**Please split the data into train and test dataframes**

*Ratio: 80:20 - Seed=42*

In [ ]:
data_train,data_test=df2.randomSplit([0.8,0.2],seed=42)

In [ ]:
# df

In [ ]:
data_test.show(5)

+----+-----------------+--------+----+------+
| sex|         province|   state| age|isdead|
+----+-----------------+--------+----+------+
|null|Chungcheongnam-do|isolated|  20|     0|
|null|      Gyeonggi-do|isolated|null|     0|
|null|      Gyeonggi-do|isolated|null|     0|
|null|      Gyeonggi-do|isolated|null|     0|
|null|      Gyeonggi-do|isolated|null|     0|
+----+-----------------+--------+----+------+
only showing top 5 rows

**Now, let's import RandomForestClassifier and start our ML pipeline**

In [ ]:
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.feature import StringIndexer,OneHotEncoder,VectorAssembler,Imputer
from pyspark.ml import Pipeline

**Create a pipeline that contains the following stages:**

- Imputer: impute the null values in `age` column to the mean value
- StringIndexer: convert `sex` to `is_male` and `province` to `province_index` as numerical values
- OneHotEncoder: perform one hot encoding on both `is_male` and -province_index`
- VectorAssembler: assemble feature vector from the following columns: `'age', 'is_male', 'province_index'`
- RandomForestClassifier: final estimator

In [ ]:
imputer=Imputer(inputCols=['age'],outputCols=['age'],strategy='mean')

In [ ]:
indexer=StringIndexer(inputCols=['sex','province'],outputCols=['is_male','province_index'],handleInvalid='keep')

In [ ]:
encoder=OneHotEncoder(inputCols=['is_male','province_index'],outputCols=['is_male_2_onehot','province_index_2_onehot'])

In [ ]:
assembler=VectorAssembler(inputCols=['age', 'is_male_2_onehot','province_index_2_onehot'],outputCol='Feature')

In [ ]:
clf=RandomForestClassifier(featuresCol='Feature',labelCol='isdead')

Fit the pipeline to the train dataframe

In [ ]:
model=Pipeline(stages=[imputer,indexer,encoder,assembler,clf])

Now transform the test DF to get predictions

In [ ]:
model=model.fit(data_train)

Show the final predictions DF

In [ ]:
pred=model.transform(data_test)

In [ ]:
pred.select('Feature','isdead','prediction').show(5,truncate=False)

+---------------------+------+----------+
|Feature              |isdead|prediction|
+---------------------+------+----------+
|(20,[0,7],[20.0,1.0])|0     |1.0       |
|(20,[0,5],[41.0,1.0])|0     |0.0       |
|(20,[0,5],[41.0,1.0])|0     |0.0       |
|(20,[0,5],[41.0,1.0])|0     |0.0       |
|(20,[0,5],[41.0,1.0])|0     |0.0       |
+---------------------+------+----------+
only showing top 5 rows

**Model Evaluation**

Now let's evaluate our model! Let's get the accuracy of our model

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator,MulticlassClassificationEvaluator

In [ ]:
evaluator = MulticlassClassificationEvaluator().setLabelCol("isdead").setPredictionCol("prediction").setMetricName("accuracy")
accuracy = evaluator.evaluate(pred)

In [ ]:
accuracy

0.8488488488488488

Excellent! Now let's generate the confusion matrix of our predictions

*Hint: we can use `scikit-learn`'s `classification_report`. You will need to transform the predictions into pandas DF first*

In [ ]:
pred

DataFrame[sex: string, province: string, state: string, age: int, isdead: int, is_male: double, province_index: double, is_male_2_onehot: vector, province_index_2_onehot: vector, Feature: vector, rawPrediction: vector, probability: vector, prediction: double]

In [ ]:
import pandas as pd

In [ ]:
pandasDF = pred.toPandas()
# print(pandasDF)

In [ ]:
# print(pandasDF)

In [ ]:
y_true=pandasDF['isdead']
y_pred=pandasDF['prediction']

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           0       0.92      0.68      0.79       404
           1       0.82      0.96      0.88       595

    accuracy                           0.85       999
   macro avg       0.87      0.82      0.83       999
weighted avg       0.86      0.85      0.84       999

## Great Job!

**If you followed the instructions correctly, you should get a total accuracy of 89%, and F1 scores of 92% and 85%**

**Do you think you can improve this accuracy? Let's see what you can do :)**

___
If you have any questions you can reach out to me:

### Omar Hammad
#### Software Engineer
##### Email: ommar365@gmail.com
##### Phone: 01144070145
##### Linkedin: https://www.linkedin.com/in/omar-a-hammad